.page {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  width: 1440px;
  height: 1024px;
  font-weight: 600;
}

.repo-name-wrapper-i0 {
  display: flex;
  position: absolute;
  top: 948px;
  left: 502px;
  align-items: center;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  border-radius: 19px;
  border-color: #979797;
  background-color: #435676;
  width: 381px;
  height: 225px;
  line-height: 40px;
  white-space: pre;
}

.repo-name {
  position: absolute;
  top: 42px;
  left: 112px;
  color: #ffffff;
  font-size: 28px;
}

.repo-name-wrapper-i1 {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 948px;
  right: 116px;
  align-items: flex-start;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  border-radius: 19px;
  border-color: #979797;
  background-color: #5d5b5b;
  padding-right: 111px;
  padding-left: 112px;
  height: 225px;
  line-height: 40px;
  white-space: pre;
}

.repo-name-1 {
  margin-top: 36px;
  color: #ffffff;
  font-size: 28px;
}

.wrapper-inner {
  display: flex;
  position: relative;
  align-items: flex-start;
  align-self: center;
  flex-direction: row;
  margin-top: 78px;
}

.primary {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 100px;
  font-weight: 400;
  top: 45px;
  position: sticky;
}

.view {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}


.item {
  position: relative;
  width: 268px;
  height: 263px;
}

.name {
  position: relative;
  margin-top: 27px;
  margin-left: 17px;
  max-width: 251px;
  height: 49px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 49px;
  white-space: nowrap;
  color: #781212;
  font-size: 35px;
  font-weight: 600;
}

.login {
  position: relative;
  margin-left: 17px;
  max-width: 251px;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 36px;
  white-space: nowrap;
  color: #758390;
  font-size: 25px;
  font-weight: 400;
}

.bio-api {
  position: relative;
  margin-top: 27px;
  margin-left: 17px;
  max-width: 251px;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 36px;
  white-space: pre;
  color: #000000;
  font-size: 25px;
  font-weight: 400;
}
.sub-i0 {
  display: flex;
  position: relative;
  align-items: baseline;
  align-self: center;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.view-i0 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  border-radius: 19px;
  border-color: #979797;
  background-color: #5d5b5b;
  width: 381px;
  height: 225px;
  margin-top: 10px;
  margin-left: 10px;
}

.tag {
  position: absolute;
  top: 163px;
  align-self: center;
  line-height: 28px;
  white-space: nowrap;
  color: #fdf9f9;
  font-size: 20px;
}


.description {
  position: relative;
  margin-top: 20px;
  max-width: 369px;
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 28px;
  white-space: nowrap;
  color: #3e2525;
  font-size: 20px;
}

.mask {
  position: relative;
  margin-top: 27px;
  border-width: 1px;
  border-style: solid;
  border-radius: 18px;
  border-color: #979797;
  background-color: rgba(216, 216, 216, 0.51);
  width: 133px;
  height: 36px;
  font-weight: 400;
}

.label {
  position: absolute;
  top: 158px;
  align-self: center;
  line-height: 28px;
  white-space: nowrap;
  color: #fdf9f9;
  font-size: 20px;
}
.overlayer {
  position: relative;
  margin-top: 27px;
  border-width: 1px;
  border-style: solid;
  border-radius: 18px;
  border-color: #979797;
  background-color: rgba(216, 216, 216, 0.51);
  width: 133px;
  height: 36px;
  font-weight: 400;
}

.sub-i1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}


.word {
  position: absolute;
  top: 163px;
  align-self: center;
  line-height: 28px;
  white-space: nowrap;
  color: #fdf9f9;
  font-size: 20px;
}



.header {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  height: 20px;
}


.item {
  position: relative;
  width: 268px;
  height: 263px;
}

.body {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
  height: 20px;
}


.repo-name-2 {
  position: relative;
  margin-top: 44px;
  max-width: 369px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 40px;
  white-space: pre;
  color: #ffffff;
  font-size: 28px;
}

